<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fransis1981.Android_Hymns"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14"/>
    <supports-screens
            android:anyDensity="true"
    />
    <application android:label="@string/app_name" android:icon="@drawable/main_icon" android:name="HymnsApplication"
            android:allowBackup="true" android:hardwareAccelerated="true"
            android:theme="@style/HymnsAppMainStyle">

        <activity android:name="MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SingleHymn_Activity" android:label="Cantico Singolo">
            <intent-filter>
                <action android:name="com.fransis1981.action.SINGLEHYMNSHOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
